{% extends "store/base.html" %}
{% load static %}
{% block content %}
    <div class="your-order">
      <h1>Your Orders</h1>
      <div class="Cart-Container">
      <div class="Cartitems">
        <div class="imgb">
        <img src="{% static 'store/images/tp4.png' %}"/>
        </div>
        <div class="itom">
        <h1 class="Name">Olivers' Special</h1>
        <h3 class="Description">Formal </h3>
        
        </div>
        <div class="Amount">
          2
        </div>

        <div class="prices">
          <div class="status">On its way</div>
          
        </div>
        
      </div>
    </div>
    </div>

    <center>
      <table>
        <tr>
          <td>
            <a href="wishlist.html">
              <center>
                <button type="" name="Update-address" value="Update">
                  Wishlist 
                </button>
              </center>
            </a>
          </td>
          <td>
            <a href="cart.html">
              <center>
                <button type="" name="Update-address" value="Update">
                  Your Cart 
                </button>
              </center>
            </a>
          </td>
      </tr>
    </table>
  </center>
  <br>
    <div class="personal-info">
      <div class="prdt-box">
        <div class="content">
          <table>
            <tr>
              <td>
                <h2>Update Personal Info</h2>
              </td>
              
              <td style="padding-bottom: 1em; padding-left: 4rem;">
                <h2>Your Address:-</h2>
                <div style="margin-left: 10rem; width: 80%;">
                  <div style="text-align: center; color: white;">
                    {{ curr_user.address|linebreaks }}
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="but-update">
                  <form action="{% url 'store:pers-details' curr_user.id %}" method="get" style="padding: 0px; margin-left: 2rem;">
                    <button type="submit" style="margin: 0; font-size: 1.1rem;">Update Info</button>
                  </form>
                </div>
              </td>
              <td>
                <div class="but-update">
                  <form action="{% url 'store:address' curr_user.id %}" method="get" style="padding: 0px; margin-left: 8rem;">
                    <button type="submit" style="margin: 0; border: 0px; font-size: 1.1rem;">Update Address</button>
                  </form>
                </div>
              </td>
            </tr>
          </table>
        </div>        
      </div>      
    </div>

   {% endblock content %}