{% extends "store/base.html" %}
{% load static %}
{% block content %}
  <div class="Cart-Container">
    <div class="Cartitems">
      <div class="Checkout-table">
        <table>
          <div class="ct">PAYMENT</div>
          <tr>
            <td>Subtotal</td>
            <td>{{ cart_subtotal }}</td>
          </tr>
                
          <tr>
            <td>Items</td>
            <td>{{ cart.total_quantity }}</td>
          </tr>

          <tr>
            Enter Card Details
          </tr>
          
          <tr>
            <td>
              Accepted Cards
              <br/>
              <img src="{% static 'store/images/card.png' %}">
            </td>
          </tr>
          
          <tr>
            <input class="card_input" type="text" name="alt" placeholder="Full Name" required>
          </tr>
          <tr>
            <input class="card_input" type="text" name="alt" placeholder="Card Number" required>
            <input class="card_input_cvv" type="text" name="alt" placeholder="CVV" required>
          </tr>

        </table>
              
        <form action="{% url 'checkout' curr_user.id %}" method="post">
          <button type="submit" class="Place-button">Place Order</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}    