{% extends "store/base.html" %}
{% load static %}
{% block content %}
<div class="Cart-Container">
    <div class="Cartitems">
        <div class="imgb">
        <img src="./images/tp4.png"/>
        </div>
        <div class="itom">
        <h1 class="Name">Olivers' Special</h1>
        <h3 class="Description">Formal </h3>
        
        </div>
        <div class="Amount">
          12
        </div>

        <div class="Checkout-table">
            <table>
                <div class="ct">PAYMENT</div>
                <tr>
                    <td>
                        Card Type<br/>
                        <img src="./images/card.png">
                    </td>
                    </tr>
                    <tr>
                    
                    
                    Via UPI<br/>
                    <input class="card_input" type="text" name="alt" placeholder="Enter Card Number">
                    <input class="card_input_cvv" type="text" name="alt" placeholder="Enter CVV">
                </tr>
                <tr>
                <td>Subtotal</td>
                  <td>$200</td>
                </tr>
                <tr>
                  <td>Items</td>
                  <td>3</td>
                </tr>
              </table>
              <a href="paysuc.html" class="Place-button">Place Order</a>
        </div>
        
      </div>
</div>
{% endblock content %}    