{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="stylesheet" href="{% static 'store/css/styles.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    
    <title>TSM</title>
  </head>
  <body>
    
    <!--Header-->
    <header id="home" class="header">
      <nav class="navigation">
        <div class="navigation container">
          <div class="logo">
            <img src="{% static 'store/images/icon1.png' %}" alt="" class="TSM">
            The Shoes Maker
          </div>
          <div class="menu">
            <div class="top-navigation">
              <div class="logo">
                The Shoes Maker
              </div>
              <div class="close">
                <i class="bx bx-x"></i>
              </div>
            </div>
            <ul class="navigation-list">
              <li>
                <div class="searchbar">
                  <input id ="inputbar"  class="search_input" type="text" name="inputbar" placeholder="Search..." autocomplete="chrome-off">
                  <a href="#" class="search_bar"><i type="submit" class="fas fa-search "></i></a>
                  <div class="results">
                    <ul></ul>
                  </div>
                </div>
              </li>
              <li class="navigation-item">
                <a href="#" class="Navigation-link" >Home</a>
              </li>
              <li class="navigation-item">
                <a href="signin.html" class="Navigation-link" >Products</a>
              </li>
              <li class="navigation-item">
                <a href="signin.html" class="Navigation-link" >About Us</a>
              </li>
              <li class="navigation-item">
                <a href="signin.html" class="Navigation-link" >Contact</a>
              </li>
              {% if curr_user %}
              <li class="navigation-item">
                <a href="account.html" class="Navigation-link" >Hello {{ curr_user.first_name}}
                </a>
              </li>
              <li class="navigation-item">
                <form action="{% url 'store:logout' curr_user.id %}" method="post">
                  {% csrf_token %}
                  <input type="submit" name="logout-button" value="LOG OUT">
                </form>
              </li>
              {% else %}
              <li class="navigation-item">
                <a href="signin.html" class="Navigation-link" >Login</a>
              </li>
              {% endif %}
              <li class="navigation-item">
                <a href="signin.html" class="Navigation-link" ><i class="bx bx-shopping-bag"></i>
                <span class='badge badge-warning' id='lblCartCount'> 0 </span></a>
              </li>
            </ul>
          </div>
          <a href="signin.html" class="cart-icon">
            <i class="bx bx-shopping-bag"></i>
            <span class='badge badge-warning' id='lblCartCount'> 0 </span>
          </a>
  
          <div class="hamburger">
            <i class="bx bx-menu"></i>
          </div>
        </div>
      </nav>

      
      <img src="{% static 'store/images/hm2.png' %}" alt="" class="gimg" height=50% width=50%/>
      <div class="img-content">
        <h2><span class="discount">70% </span> SALE OFF</h2>
        <h1>
          <span>Goofy Vibes</span>
          <span class="red">Mode On!!!</span>
        </h1>
        <a class="box"  href="#grlcth">shop now</a>
      </div>

    </header>
    <a id="grlcth"></a>
    <section class="top-picks section">
      <div class="prdt-header">
        
        <div class="prdt-container">
          <div class="prdt-box">
            <div class="content">
              <a href="signin.html" class="href">
                <h2>
                  
                    Sports' Shoes
                  
                </h2>
                <h4 class="quote">
                  Live the Game!!!
                </h4>
              
            </div>
            <img  src="{% static 'store/images/tp1.png' %}" alt="">
          </a>
          </div>
          <div class="prdt-box">
            <div class="content">
              <a href="signin.html" class="href">
                <h2>
                  Casual Shoes
                </h2>
                <h4 class="quote">
                  Wear the Trend!!!
                </h4>
              
            </div>
            <img  src="{% static 'store/images/tp2.png' %}" alt="">
          </a>
          </div>
          <div class="prdt-box">
            <div class="content">
              <a href="signin.html" class="href">
                <h2>
                  Flip Flops / Chappals
                </h2>
                <h4 class="quote">
                  Take a Gooffy Ride!!!
                </h4>
             
            </div>
            <img  src="{% static 'store/images/tp3.png' %}" alt="">
          </a>
          </div>
          <div class="prdt-box">
            <div class="content">
              <a href="signin.html" class="href">
                <h2>
                  Formal Shoes
                </h2>
                <h4 class="quote">
                  The Gentlemen's Choice!!!
                </h4>
              
            </div>
            <img  src="{% static 'store/images/tp4.png' %}" alt="">
          </a>
          </div>
        </div>
      </div> 

  </section>
  <section id="contact" class="footer">
    <div class="foot-container">
      <div class="footer-items">
        <h3>
          EXTRAS
        </h3>
        <a href="signin.html" >Brands</a>

        <a href="signin.html">Site Map</a>
      </div>
      <div class="footer-items">
        <h3>Info Center</h3>
        <a href="#">About Us</a>
        <a href="#" >Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
      
      </div>
      <div class="footer-items">
        <h3>
          ACCOUNTS
        </h3>
        <a href="account.html">My Accounts</a>
        <a href="account.html">Order History</a>
        <a href="wishlist.html">Wish List</a>
        <a href="homepage.html">Log out</a>
      </div>
      <div class="footer-items">
        <h3>CONTACT US</h3>
        <div>
          <i class="fas fa-map-marker-alt"></i>
          139, Kamala Nagar, Charbagh, New Delhi, India - 236545
        </div>
        <div>
          <i class="far fa-envelope"></i>
          info@shoemaker.com
        </div>
        <div>
          <i class="fas fa-phone"></i>
          +91 75557 78964
        </div>
        <div></div>
          <i class="far fa-paper-plane"></i>
          New Delhi, India
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  <script src="{% static 'store/js/index.js' %}"></script> 
  
  </body>
</html>
