{% extends "store/base.html" %}
{% load static %}
{% block content %}

    <section class="product-details">
      <div class="details container-md">
        <div class="left">
          <div class="main">
            <img src="./images/-rook.jpg" alt="">
          </div>
        </div>
        <div class="right">
          <h1>
            Name of the product
          </h1>
          <div class="price">
            Price 
          </div>
          <br/>
          <form>
            <select>
              <option value="Select You Size" selected disabled>Select Size</option>
              <option value="1">6</option>
              <option value="1">7</option>
              <option value="1">8</option>
              <option value="1">9</option>
              <option value="1">10</option>
            </select>
          </form>
          <form class="form">
            <input type="text" placeholder="1">
            <a href="cart.html" class="addCart">Add To Cart</a>
          </form>
          <h3>Product Details</h3>
          <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero minima delectus nulla voluptates nesciunt
            quidem laudantium, quisquam voluptas facilis dicta in explicabo, laboriosam ipsam suscipit!</h6>
        </div>
      </div>
    </section>
    
{% endblock content %}    