{% extends "store/base.html" %}
{% load static %}
{% block content %}


  <section class="section all-products" id="products">
    <div class="top-container">
      {% if curr_user %}
      <form action="{% url 'store:products' curr_user.id %}" method="get">
      {% else %}
      <form action="{% url 'store:anon_products' %}" method="get">
      {% endif %}
    
        <select name="sort">
          <option value="" selected disabled>Sort</option>
          <option value="sort_price_LtoH">Price (Low to High)</option>
          <option value="sort_price_HtoL">Price (High to Low)</option>
        </select>
        
        <input type="checkbox" id="cat_sports" name="sports-filter">
        <label for="cat_sports"> Sports Shoes</label>

        <input type="checkbox" id="cat_formal" name="formal-filter">
        <label for="cat_formal"> Formal Shoes</label>
        
        <input type="checkbox" id="cat_flipflops" name="flipflops-filter">
        <label for="cat_flipflops"> Flip Flops</label>
        
        <input type="checkbox" id="cat_casual" name="casual-filter">
        <label for="cat_casual"> Casual Shoes</label>

        <button type="submit">Apply</button>
      </form>          
    </div>
    
    {% if errormessage %}
    <h1><b>{{ errormessage }}</b></h1>
    {% endif %}
    
    <div class="prods-center container">
      {% for product in products %}  
      <div class="prods">
        <div class="prods-hd">
          {% if curr_user %}
          <a href="{% url 'store:product-details' curr_user.id product.id %}">
          {% else %}
          <a href="{% url 'store:anon_product-details' product.id %}">
          {% endif %}
            <img src="{% static product.get_img_name %}" alt="">
          </a>
        </div>
          
        <div class="prods-footer">
          {% if curr_user %}
          <a href="{% url 'store:product-details' curr_user.id product.id %}">
          {% else %}
          <a href="{% url 'store:anon_product-details' product.id %}">
          {% endif %}
            <h3>{{ product.name }}</h3>
          </a>
          <div class="rating">
            <h4>Rating: {{ product.get_avg_rating }}</h4>
          </div>
          <h3 class="price">{{ product.price }}</h3>
        </div>
      </div>            
      {% endfor %}
    </div>
  </section>  
  
{% endblock content %}


