{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="shortcut icon" href="{% static 'store/images/icon.jpg' %}" type="image/x-icon">
     <!-- Box icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
  
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <link rel="stylesheet" href="{% static 'store/css/styles.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    
    <title>TSM</title>
  </head>

  <body>
    <section class="signup">
      <div class="logo">
        {% if curr_user %}
        <a href="{% url 'store:homepage' curr_user.id %}">
        {% else %}
        <a href="{% url 'store:anon_homepage' %}">
        {% endif %}
          <img src="{% static 'store/images/icon1.png' %}" alt="" class="TSM">
          The Shoes Maker
        </a>
      </div>
      

      <div class="pger">
        {% if product_id %}
        <form action="{% url 'store:product-signup-redirect' product_id %}" method="post">
        {% else %}
        <form action="{% url 'store:signup' %}" method="post">
        {% endif %}
        
          {% csrf_token %}
          <div class="tit" style="margin-top: 1rem;">
            <h1>Sign up</h1>
          </div>

          <div class="signupcontainer">
            <input type="text" placeholder="Enter First Name" name="first_name" {% if first_name %} value="{{ first_name }}" {% endif %}  required>  
            <input type="text" placeholder="Enter Last Name" name="last_name" {% if last_name %} value="{{ last_name }}" {% endif %} required>  
            <input type="text" placeholder="Enter Email ID" name="email" {% if email %} value="{{ email }}" {% endif %} required>  
             
            <input type="password" placeholder="Enter Password" name="password1" required>  
            <input type="password" placeholder="Retype Password" name="password2" required>

            <textarea placeholder=" Enter Address" name="address" rows="5" cols="47" style="font-family: sans-serif;" required>{% if address %}{{ address }}{% endif %}</textarea>
            <br>
            <input type="submit" name="signup-button" value="Sign up" style="font-size: 1rem;">

            {% if already_exists %}
              {% if product_id %}
              <p><strong>An account with this email already exists. Please</strong> <a href="{% url 'store:product-signin-redirect' product_id %}" style="color: blue;"><u>log in</u></a> <strong>instead.</strong></p>
              {% else %}
              <p><strong>An account with this email already exists. Please</strong> <a href="{% url 'store:signin' %}" style="color: blue;"><u>log in</u></a> <strong>instead.</strong></p>
              {% endif %}
            {% endif %}

            {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
            {% endif %}
          </div>
        </form>
      </div>
    </section>
  </body>
</html>