{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="stylesheet" href="{% static 'store/css/styles.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    
    <title>TSM</title>
  </head>
  <body>

<section class="signin">


    <div class="logo">
        <img src="{% static 'store/images/icon1.png' %}" alt="" class="TSM">
       
            The Shoes Maker
        </div>
        
    </div>
    <div class="pger">

    {% if product_id %}
    <form action="{% url 'store:product-signin-redirect' product_id %}" method="post">
    {% else %}
    <form action="{% url 'store:signin' %}" method="post">
    {% endif %}

    {% csrf_token %} 
        <div class="tit">
        <h1>
        Log in </h1></div>
        <div class="sign-container">   
            <input type="text" placeholder="Enter Email ID" name="email" required>  
            <input type="password" placeholder="Enter Password" name="password" required>  
            
            <input type="submit" value="Log in">

            {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
            <br>
            {% endif %}

            {% if product_id %}
            <a href="{% url 'store:product-signup-redirect' product_id %}">Not a member? Create Account</a>
            {% else %}
            <a href="{% url 'store:signup' %}">Not a member? Create Account</a>
            {% endif %}
            
        </div>   
    </form> 
</div>  
    </section>
    </body>
</html>