<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="shortcut icon" href="./images/icon.jpg" type="image/x-icon">
     <!-- Box icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
  
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <link rel="stylesheet" href="./css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    
    <title>TSM</title>
  </head>
  <body>

<section class="signup">


    <div class="logo">
        <img src="./images/icon1.png" alt="" class="TSM">
       
            The Shoes Maker
        </div>
        
    </div>
    <div class="pger">
    <form > 
        <div class="tit">
        <h1>
        Sign up </h1></div>
        <div class="signupcontainer">   
             
            <input type="text" placeholder="Enter Name" name="Name" required>  
            <input type="text" placeholder="Enter Email ID" name="Email" required>  
             
            <input type="password" placeholder="Enter Password" name="password" required>  
            <input type="password" placeholder="Retype Password" name="password" required>  
            
            <a href="#">
            <button type="submit" name="signup-button" value="sign up">Get Started !!!</button>
          </a>
              
            </div>
            <div class="social-media">
              <span class=signinwith">
              Sign in via Social Media<br/></span>
              <a href="facebook.com">
              <button class="facebook">Log in with facebook</button><br/></a>
              <a href="https://accounts.google.com/servicelogin"></a>
              <button class="google">Log in with google</button>
            </div>
    </form> 
</div>  
    </section>
    </body>
</html>