<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="shortcut icon" href="./images/icon.jpg" type="image/x-icon">
     <!-- Box icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
  
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <link rel="stylesheet" href="./css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    
    <title>TSM</title>
  </head>
  <body>

<section class="signin">


    <div class="logo">
        <img src="./images/icon1.png" alt="" class="TSM">
       
            The Shoes Maker
        </div>
        
    </div>
    <div class="pger">
    <form action="action_page.php" method="post"> 
        <div class="tit">
        <h1>
        Login In </h1></div>
        <div class="sign-container">   
             
            <input type="text" placeholder="Enter Email ID" name="Email" required>  
               
            <input type="password" placeholder="Enter Password" name="password" required>  
            <button type="submit">Login</button>
            <div class="checker">
            <input  type="checkbox" checked="checked"> Remember me 
            &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <a href="passreset.html"> Forgot  password?       </a> </div>
             Not  a member?&nbsp  <a href="signup.html"> Create Account </a>   
        </div>   
    </form> 
</div>  
    </section>
    </body>
</html>