{% extends "store/base.html" %}
{% load static %}
{% block content %}

    <div class="Cart-Container" style="margin-top: 7rem; margin-bottom: 3rem;">
      <div class="Header3" style="padding-top: 0.7rem; padding-bottom: 0.7rem; margin-bottom: 1rem; border-bottom: solid #f08383;">
        <h3 class="Heading">Your Wishlist</h3>
        <form action="{% url 'store:wishlist' curr_user.id %}" method="post" style="padding: 0;">
          {% csrf_token %}
          <button type="submit" name="update-method" value="remove-all" style="margin-top: 0; padding: 1rem 2.5rem; font-size: 1rem;">
            Remove All
          </button>
        </form>
      </div>

      {% for wlitem in wishlist.wishlistitem_set.all %}
      <div class="Cartitems" style="margin-top: 0.5rem;">
        <div class="imgb">
          <a href="{% url 'store:product-details' curr_user.id wlitem.product.id %}">
            <img src="{% static wlitem.product.get_img_name %}"/>
          </a>
        </div>
        <div class="itom">
          <a href="{% url 'store:product-details' curr_user.id wlitem.product.id %}">
            <h1 class="Name">{{ wlitem.product.name }}</h1>
          </a>
          <h3 class="Description">{{ wlitem.product.category.name }}</h3>
        </div>

        <div class="prices">
          <div class="price">{{ wlitem.product.price }}</div>
          <a href="{% url 'store:product-details' curr_user.id wlitem.product.id %}">
            <div class="Wisl">View Product</div>
          </a>
          <form action="{% url 'store:update-wishlist' curr_user.id wlitem.product.id %}" method="post" style="margin-bottom: 1rem;">
            {% csrf_token %}
            <button type="submit" name="update-method" value="remove" style="margin: 0;">Remove</button>
          </form>
        </div>
      </div>

      {% empty %}
      <h2 style="padding-left: 3rem; margin-top: 0.7rem;">Your wishlist is empty.</h2>

      {% endfor %}
    </div>    
{% endblock content %}