{% extends "store/base.html" %}
{% load static %}
{% block content %}

    <div class="Cart-Container">
      <div class="Header3">
        <h3 class="Heading">Welcome to Wish List</h3>
        <h5 class="remove">Remove all</h5>
        </div>
        <div class="Cartitems">
          <div class="imgb">
          <img src="./images/tp4.png"/>
          </div>
          <div class="itom">
          <h1 class="Name">Olivers' Special</h1>
          <h3 class="Description">Formal </h3>
          
          </div>
          <div class="Amount">
            <input type="number" value="1" min="1">
          </div>

          <div class="prices">
            <div class="price">$50</div><a href="#">
            <div class="Wisl">Add To Cart</div></a>
            <div class="remove">Remove</div>
          </div>
          
        </div>
        <div class="Cartitems">
          <div class="imgb">
          <img src="./images/tp4.png"/>
          </div>
          <div class="itom">
          <h1 class="Name">Olivers' Special</h1>
          <h3 class="Description">Formal </h3>
          
          </div>
          <div class="Amount">
            <input type="number" value="1" min="1">
          </div>

          <div class="prices">
            <div class="price">$50</div><a href="#">
            <div class="Wisl">Add To Cart</div></a>
            <div class="remove">Remove</div>
          </div>
          
        </div>
        
        
    
        </div>
    </div>
    
{% endblock content %}